.home {
    --bd-purple: #1c7f00;
    --bd-violet: #4ab200;
    --bd-accent: #5a9a06;
    --bd-green-rgb: 10,223,2;
    --bd-accent-rgb: 40,228,132;
    --bd-pink-rgb: 35,130,20;

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-green-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet);
        --bs-btn-border-color: var(--bd-violet);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #82ec5e;
        --bs-btn-hover-border-color: #22e885;
        --bs-btn-focus-shadow-rgb: var(--bd-green-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #007155;
        --bs-btn-active-border-color: #23c896;
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: rotate(10deg) scale(1.5);
        }
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-green-rgb: 5, 117, 9;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-green-rgb), 1), rgba(var(--bd-green-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(8, 157, 28, 0.15),inset 0 -1px 0 rgba(174, 239, 158, 0.15);
}

.text-violet {
    color: #057509;
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: rotate(-10deg) scale(2);
    }
}
