<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class='d-block mx-auto mb-3' src="{{ `images/time.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Real-Time Data </h2>
        <p>Harness the power of real-time data, delivering instantaneous market insights to empower traders with timely information for informed decision-making and strategic investment execution.</p>
    </div>
    <div class="col-lg-4">
        <img class='d-block mx-auto mb-3' src="{{ `images/community.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Community Hub </h2>
        <p>Traders can collaborate, share insights, and access a wealth of valuable materials fostering a collaborative environment for continuous learning and growth in the financial markets.</p>
    </div>
    <div class="col-lg-4">
        <img class='d-block mx-auto mb-3' src="{{ `images/virtual.png` | relURL }}" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Virtual Simulator </h2>
        <p>Trade risk-free with the virtual trading simulators, providing traders with a realistic market environment to test strategies, experiment with different asset classes, and build confidence without the fear of financial loss.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Various Accounts </h2>
        <p>Flexible options for managing finances collaboratively with family members or individually with retirement to shared accounts. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Algorithmic Trading </h2>
        <p>Allow traders to automate trading strategies, execute orders with precision, and capitalize on market opportunities 24/7, maximizing efficiency and profitability.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Educational Resources </h2>
        <p>Offers trader access to expert insights, tutorials, and curated content designed to enhance financial literacy and empower users to make informed investment decisions with confidence and expertise.</p>
    </div>
</div>
